@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');


*{
  margin: 0;
  padding: 0;
  font-weight: 300;
  color: #333333;
  line-height: 130%
  }
  
h1{
  font-size: 43px;
  margin-bottom: 36px;
  }
  
h2{
  font-size: 32px;
  margin-bottom: 36px;
  }
  
h4{
  font-size: 18px;
  margin-bottom: 24px;
  }
  
article{
  display: block;
  margin: 0 auto;
  width: 960px;
  font-size: 18px;
  font-family: "open sans";
  position: relative;
  header{
    margin-top: 36px;
    margin-bottom: 90px;
    & > figure{
      img{
        width: 100%;
        }
      figcaption{
        display: inline-block;
        margin-top: 24px;
        span{
          font-weight: bold;
          font-size: 25px;
          }
        }
      }
    }
  div.thumbs{
    float: right;
    margin-top: 10px;
    figure{
      width: 90px;
      height: 70px;
      overflow: hidden;
      display: inline-block;
      margin-left: 10px;
      img{
        width: 100%;
        height: 100%
        }
      }
    }
  p, div.hasinsert{
    max-width: 80%;
    margin-bottom: 36px;
    }
  section{
    margin-top: 36px;
    }
  .insert{
    float:right;
    width: 50%;
    margin-right: -10%;
    }
  }